<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
    <link rel="stylesheet" href="../public/style1.css">
</head>
<body>
    <div class="form-container">
        <h3>Edit Your Chat</h3>
        <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
        <form method="post" action="/chats/<%= chat._id %>?_method=put">
            <textarea class="input-field" name="msg" rows="6"><%= chat.message %></textarea>
            <button class="submit-btn">Update Chat</button>
        </form>
    </div>
</body>
</html>
