body{
    margin-left: 20px ;
}
.chat{
    background-color: aliceblue;
    padding:20px;
    margin-bottom: 10px;
    border-radius: 16px;
    display: inline-block;
    margin-right: 10px;
}
.msg{
    background-color: dodgerblue;
    color:white;
    padding: 5px 15px;
    border-radius: 16px;
}